/*Element Selector*/
p{        
    color: brown;  /*Color by Name*/
}

/*id Selector*/
#first{
    color: yellow;
    background-color: hotpink;
}

/*class Selector*/
.greenBg{
    color:#adff2f; /*GreenYellow   Color by Hex Value*/
}

.redClr{
    background-color: rgb(255, 0, 0);   /*Color by RGB Value*/
}

/*Grouping Selector*/
span,div{
    color: crimson;
}